@{
    ViewBag.title = "Movies";
}

@model MovieList

<br />
<br />
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Movies</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            @foreach (Movie m in Model.Movies)
            {
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        
                        <div style="margin: 25px;">
                            <h3>@m.MovieID</h3>
                            <h3>@m.Title</h3>
                            <p>Category - @m.Category</p>
                            <p>Year - @m.Year</p>
                            <p>Director - @m.Director</p>
                            <p>Edited - @m.Edited</p>
                            <p>Lent to: @m.LentTo</p>
                            <p>@m.Notes</p>
                            <div>
                                <a class="btn btn-info" asp-action="EditMoviePage" asp-route-id=@m.MovieID>Edit</a>
                                <form asp-action="DeleteMovie" method="post">
                                    <input value=@m.MovieID type="hidden" />
                                    <input value="Delete" type="submit" class="btn btn-danger" />
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            }

        </div>
    </div>
</section>

